*.pyc
*.c
*.so
*.swp
*.npy 
*.png
*.svg
*.pdf
examples/data/Xenon_800_nm*
examples/*.dat
*pytest_cache*
*.coverage
*.egg-info/
dist/
build/
doc/_build/
doc/transform_methods/comparison/fig_benchmarks/working
