numpy >= 1.16      # last for Python 2
scipy >= 1.2       # last for Python 2
matplotlib >= 2.2  # last for Python 2

# See https://docs.readthedocs.io/en/stable/build-default-versions.html
sphinx >= 2.0.0            # default v1.8.6 isn't compatible with Python >= 3.10,
sphinx_rtd_theme >= 1.1.0  # first to depend on compatible Sphinx version
