# See https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  FORCE_COLOR: 1 # colored output where possible
  PIP_PROGRESS_BAR: off # disable progress bar for downloads

jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-15-intel, macos-latest, windows-latest]
        py-ver: ["3.8", "3.14"]
        ext: [cython] # with/without Cython extension
        include:
          # test no-cython only on Ubuntu (fastest runner)
          - os: ubuntu-latest
            py-ver: "3.8"
            ext: no-cython
          - os: ubuntu-latest
            py-ver: "3.14"
            ext: no-cython
        exclude:
          # skip to save resources
          - os: macos-15-intel
            py-ver: "3.14"
          - os: macos-latest
            py-ver: "3.8"

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.py-ver }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.py-ver }}
        cache: "pip"
        cache-dependency-path: setup.py
    - name: Update setup
      run: python -m pip install --upgrade pip setuptools
    - name: Install Cython
      if: matrix.ext == 'cython'
      # NumPy and Cython must be preinstalled for building Cython extension
      run: python -m pip install numpy cython
    - name: Install pytest
      run: python -m pip install pytest pytest-cov
    - name: Install PyAbel
      env:
        # building Cython extension requires no build isolaton
        # (confusingly, must be set to 0 to disable isolation;
        # using "!=" because the first value after "&&" must be truthy)
        PIP_NO_BUILD_ISOLATION: ${{ matrix.ext != 'cython' && 1 || 0 }}
      run: python -m pip install . -v
    - name: Information
      run: python .github/workflows/info.py
    - name: TESTS
      # "cd .." for coverage of installed pyabel instead of ./pyabel subdir
      # summary needs "no-cython" in .json to classify skipped as OK or warning
      run: |
        cd ..
        pytest -v --cov=pyabel --pyargs pyabel --log-level=WARN
        python PyAbel/.github/workflows/save-test.py ${{ matrix.ext }}
        python PyAbel/.github/workflows/summary.py msg
