name: Build sdist

on: [workflow_dispatch, workflow_call]

env:
  FORCE_COLOR: 1 # colored output where possible

jobs:
  sdist:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13" # only for setuptools
    - name: Update setup, install build
      run: python -m pip install --upgrade pip setuptools build
    - name: Create source distribution
      run: python -m build --sdist
    - uses: actions/upload-artifact@v4
      with:
        name: sdist(${{ github.ref_name }})
        path: ./dist/*

  sdist-test:
    needs: sdist
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        py-ver: ["3.8", "3.14"]
        ext: [cython, no-cython] # with/without Cython extension

    steps:
    - uses: actions/checkout@v4
      with:
        sparse-checkout: |
          .github/workflows/info.py
          .github/workflows/save-test.py
        sparse-checkout-cone-mode: false
    - uses: actions/download-artifact@v4
      with:
        name: sdist(${{ github.ref_name }})
    - run: rm -rf .git; ls -Al
    - name: Set up Python ${{ matrix.py-ver }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.py-ver }}
    - name: Update setup
      run: python -m pip install --upgrade pip setuptools
    - name: Install Cython
      if: matrix.ext == 'cython'
      # NumPy and Cython must be preinstalled for building Cython extension
      run: python -m pip install numpy cython
    - name: Information
      run: python .github/workflows/info.py
    - name: Install PyAbel from source distribution
      env:
        # building Cython extension requires no build isolaton
        # (confusingly, must be set to 0 to disable isolation;
        # using "!=" because the first value after "&&" must be truthy)
        PIP_NO_BUILD_ISOLATION: ${{ matrix.ext != 'cython' && 1 || 0 }}
      run: python -m pip install -v *.tar.gz
    - name: Information
      run: python .github/workflows/info.py
    - name: Install pytest
      run: python -m pip install pytest
    - name: TESTS
      run: |
        python -m pytest -v --pyargs abel --log-level=WARN
        python .github/workflows/save-test.py \
               sdist-install-${{ matrix.py-ver }}-${{ matrix.ext }}
    - uses: actions/upload-artifact@v4
      with:
        name: sdist(${{ github.ref_name }})test-${{ matrix.py-ver }}-${{ matrix.ext }}
        path: sdist*.json
